@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
* {
  font-family: 'cwTeXYen', 'Quicksand', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.ui.page.modals.transition.visible {
  display: flex !important;
}

.ui.modal {
  margin-top: 0 !important;
}
